.projects__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.project{
    background: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
}

.project:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.project__head{
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.project__head h3{
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

/* .project__list{
    padding: 2rem;
} */

.project__list li {
    display: flex;
    gap: 0.9rem;
    margin-bottom: 0.8rem;
    margin-left: 10px;
}

.list__icon{
    font-size: 1rem;
    margin-top: 2.5px;
}

.project__list p{
    font-size: 0.8rem;
}

.tools{
    display: flex;
    gap: 1rem;
}

.tools__link{
    text-align: center;
    margin-bottom: 2rem;
}

/* Media Queries (Medium Devices) */
@media screen and (max-width: 1024px){
    .projects__container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .project{
        height: auto;
    }
}

/* Media Queries (Small Devices) */
@media screen and (max-width: 600px){
    .projects__container{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}