<section id="certifications">
<h5>My</h5>
<h2>Certifications</h2>

<div class="container certifications__container">
    <article class="certification__item">
        <div class="certification__item__image">
            <img src="/src/assets/certifications/nptel.jpg" alt="">
        </div>
        <h3>Design and Analysis of Algorithms</h3>
    </article>
    <article class="certification__item">
        <div class="certification__item__image">
            <img src="/src/assets/certifications/nptel.jpg" alt="">
        </div>
        <h3>Developing Soft Skills and Personality</h3>
    </article>
    <article class="certification__item">
        <div class="certification__item__image">
            <img src="/src/assets/certifications/nptel.jpg" alt="">
        </div>
        <h3>Programming in C</h3>
    </article>
    <article class="certification__item">
        <div class="certification__item__image">
            <img src="/src/assets/certifications/az900.png" alt="">
        </div>
        <h3>Azure Fundamentals(AZ-900)</h3>
    </article>
    <article class="certification__item">
        <div class="certification__item__image">
            <img src="/src/assets/certifications/javase11.png" alt="">
        </div>
        <h3>Oracle Certified Java SE 11 Developer</h3>
    </article>
</div>
</section>
